.height-500.bg-size-cover.bg-center.bg-no-repeat.flex-stacked(
  style="background-image:url('assets/images/code_hero.jpg');"
)
  include header.pug
  
  .flex-1.flex-valign-center.page-contain-2x
    .flex-1.pad-right
      h1.text-white.margin-0.nowrap
        .text-3x(style="line-height:1.2em;")
          |Learn Coding
          div in 24 Weeks
        
      .text-white.text-3x.font-company-lite
        |Class starts May 15, 2018
      br
      br
      .width-300.width-100.radius-5.pad-xs.text-center.text-black(
        style="background-color:rgba(200,200,200,.8)"
      )
        strong.text-3x GET PROGRAM INFO
        br
        .text-smx Step 1 of 3
        .flex
          .flex1.pad-right-xs.pad-bottom
            input.text-3x.underline-input.height-30.width-full(
              placeholder="First name"
            )
          .flex1.pad-left-xs.pad-bottom
            input.text-3x.underline-input.height-30.width-full(
              placeholder="Last name"
            )
        .text-white.pad-xs.bg-company-main.flex-center.flex-valign-center.hover-bg-company-light
          strong.text-3x
            |CONTINUE&nbsp;&nbsp;
          .text-white.border-2.border-white.radius-half.flex-valign-center.flex-center(
            style="width:20px;height:20px"
          )
            |&gt;
    .flex-stacked.flex-apart
      .text-right.pad-bottom
        h2.margin-0.text-company-main CODING
        .text-white.max-width-300
          |Coding Boot Camp equips students skills for full-stack web development through dynamic, in-person classes.
        .pad-top-smx.border-bottom-4.border-company-main
      div
        br
        br
      .text-right
        h2.margin-0.text-white DATA ANALYTICS
        .text-white.max-width-300
          |Data Boot Camp equips students with the key skills for full-stack web development through dynamic, in-person classes.
        .pad-top-smx.border-bottom-4.border-white
